/* Main Elements */

body {
    font-family: "Mina", sans-serif;
    margin: 0;
}

#container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 320px;
}

h1 {
    font-size: 36px;
}

footer {
    bottom: 0;
    font-size: 10px;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

/* Game Board */

#deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.card-container {
    height: 74px;
    margin: 3px;
    width: 74px;
}

.card {
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.7s;
    position: relative;
}

.front {
    background: red;
    z-index: 2;
}

.back {
    background: #fff;
    background-size: contain;
    transform: rotateY(180deg);
}

.front,
.back {
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #666;
    height: 100%;
    position: absolute;
    width: 100%;
}

.flipped {
    transform: rotateY(180deg);
}

/* Scoring area */

.full-star {
    color: gold;
    text-shadow: 0 0 1px #000;
}

.empty-star {
    color: #aaa;
}

#score-panel {
    display: flex;
    font-family: "Source Code Pro", monospace;
    width: 100%;
}

#score-panel div {
    display: flex;
    justify-content: center;
    width: 25%;
}

#moves span,
#moves .material-icons {
    width: 50%;
}

#moves span {
    text-align: right;
}

#restart {
    cursor: pointer;
}

/* Modal */

#modal {
    background: rgba(0,0,0,0.5);
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

#modal-content {
    background: #fff;
    border-radius: 20px;
    max-width: 800px;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
    width: 80%;
}

#modal-content span {
    cursor: pointer;
    font-size: 25px;
}

#final-score .material-icons {
    font-size: 50px;
}

/* Media Queries */

@media screen and (min-width: 400px) {
    #container {
        width: 400px;
    }

    .card-container {
        height: 90px;
        margin: 5px;
        width: 90px;
    }
}

@media screen and (min-width: 600px) {
    #container {
        width: 520px;
    }

    #score-panel {
        font-size: 22px;
    }

    #score-panel .material-icons {
        font-size: 30px;
    }

    .card-container {
        height: 110px;
        margin: 10px;
        width: 100px;
    }
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 1920px) {
    h1 {
        font-size: 44px;
    }

    #container {
        width: 700px;
    }

    .card-container {
        height: 150px;
        margin: 12px;
        width: 150px;
    }
}