ul {
    list-style-type: none;
    padding: 0;
}

.card_container,
.front,
.back {
    height: 150px;
    width: 150px;
}

.card_container {
    margin: 20px;
}

.card_container:hover .card {
    transform: rotateY(180deg);
}

.card {
    transform-style: preserve-3d;
    transition: 0.7s;
    position: relative;
}

.front {
    background: red;
    z-index: 2;
}

.back {
    background: blue;
    transform: rotateY(180deg);
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#score_panel {
    width: 730px;
    display: flex;
    justify-content: space-between;
}

#deck {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    justify-content: center;
}
